.grid-categorias{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    column-gap: 8px;
    width: 100%;
}

.categorias{
    display: grid;
    justify-items: center;
}

.container img {
    border-radius: 20px;
}

h2{
    text-align: center;
}

.categorias a{
    text-decoration: none;
    color: black; 
}

@media screen and (max-width: 480px){
    .grid-categorias{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 90%;
    }
}

@media screen and (min-width: 480px){
    .grid-categorias{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 90%;
    }
}

@media screen and (min-width: 768px){
    .grid-categorias{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 80%;
    }
}

@media screen and (min-width: 992px){
    .grid-categorias{
        column-gap: 18px;
    }
}

@media screen and (min-width: 1200px){
    .grid-categorias{
        column-gap: 22px;
    }
}
