.grid{
  display: grid;
}

.review-us {
  display: grid;
  justify-content: center;
}

main{
  margin-bottom: 20px;
}

h2 {
  font-weight: lighter;
}

.avaliacao-container{
  display: grid;
  grid-template-columns: 2fr 15fr 1fr;
  column-gap: 5px;
}

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

.bar-5 {width: 60%; height: 18px; background-color: #000000;}
.bar-4 {width: 30%; height: 18px; background-color: #000000;}
.bar-3 {width: 10%; height: 18px; background-color: #000000;}
.bar-2 {width: 15%; height: 18px; background-color: #000000;}
.bar-1 {width: 4%; height: 18px; background-color: #000000;}


hr{
  margin-bottom: 15px;
  margin: 0px 30px;
  border:solid;
  border-width: 2px;
  border-color: #e6e6e6;
}

.avaliacoes-utilizadores>h2{
  text-align: center;
}

.avaliacoes-utilizadores{
    display: grid;
    justify-items: center;
    margin-bottom: 40px;
}

.grid-avaliacoes{
  display: grid;
}

.box{
  display: block;
  width:250px;
  height:400px;
  background:#fff;
  margin:20px 30px;
  border-radius:4px;
  text-align:center;
  position:relative;
  box-shadow: 0px 0px 28px rgba(0,0,0,.3);
  overflow:hidden;
}

.box .heading{
  color:#000;
  font-size:24px;
  margin-top:40px;
}

.box div p{
  font-size:14px;
  color:#737373;
  font-weight:lighter;
}

.box div p{
  margin: 1vh 1vh 1vh 1vh;
}

.box img{
  width: 250px;
}


@media screen and (min-width: 480px){

  .estrelas{
    margin-left: 4vh;
    text-align: center;
  }

  .grid-avaliacoes{
    grid-template-columns: 1fr;
  }

}

@media screen and (min-width: 768px){
  .grid{
    grid-template-rows: 1fr 1fr;
  }

  .estrelas{
    width: 550px;
    margin-left: 18vh;
  }

  .grid-avaliacoes{
    grid-template-columns: 1fr 1fr;
  }

}

@media screen and (min-width: 992px){

  .grid{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .estrelas{
    width: 550px;
    text-align: center;
    margin-left: 50px;
  }

  .grid-avaliacoes{
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media screen and (min-width: 1200px){

  .estrelas{
    width: 600px;
    margin-left: 100px;
  }

  .grid-avaliacoes{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
