.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main, .review-us, .reviews {
  margin: 0 auto; 
  max-width: 800px;
  padding: 20px;
}

h2 {
  font-weight: lighter;
  margin-right: 25px;
}

.avaliacao-container{
  display: grid;
  grid-template-columns: 2fr 15fr 1fr;
  column-gap: 5px;
}

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

hr{
  margin-bottom: 15px;
}

.bar-5 {width: 60%; height: 18px; background-color: #000000;}
.bar-4 {width: 30%; height: 18px; background-color: #000000;}
.bar-3 {width: 10%; height: 18px; background-color: #000000;}
.bar-2 {width: 15%; height: 18px; background-color: #000000;}
.bar-1 {width: 4%; height: 18px; background-color: #000000;}

form{
    align-items: center;
}

hr{
  margin: 0px 30px;
  border:solid;
  border-width: 2px;
  border-color: #e6e6e6;
}

.avaliacoes-utilizadores>h2{
  margin-left: 232px;
}

.reviews{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 10px;
}

.card {
  border-radius: 5px;
  width: 100%;
  border: solid;
  border-width: 1px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 0px 16px;
}

img {
  border-radius: 5px 5px 0 0;
}

