.box{
  display: block;
  background:#fff;
  border-radius:4px;
  position:relative;
  box-shadow: 0px 0px 28px rgba(0,0,0,.3);
  overflow:hidden;
}

.box div p{
  color:#737373;
  font-weight:lighter;
}

.slides-img{
  height: 100%;
  overflow: auto;
}

#destaques{
  text-align: center;
}

.ler-mais{
  text-align: right;
  margin-right: 2vh;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: underline;
}

.slides-grid{
  display: grid;
  grid-template-columns: 2fr 6fr;
  text-decoration: none;
  color: black;
  align-items: center;
}

.news h1{
  text-align:center;
}
  
.center {
  margin-left: auto;
  margin-right: auto;
}

.ultimas_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.ultimas_grid a{
  text-decoration: none;
  color: black;
}

.grid_ultimas_noticias{
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows:50px 50px 50px;
  column-gap: 5px;
  text-align: left;
  align-items: center;
}

.texto_grid{
  display: grid;
  grid-template-rows: 0px 50px;
}

.trending_articles{
  align-items: center;
}

.trending>p{
  padding: 0;
  text-align: left;
}

.trending_articles{
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows:50px 50px 50px 50px;
  text-align: left;
}

.trending_articles{
  text-decoration: none;
  color: black;  
}

.trending_articles p{
  display: flex;
  align-items: center;
}

.new1{
  text-align: center;
}

.images{
  border-radius: 150px;
}

.mais_noticias {
  width: 120%;
  margin: 0 auto;
  margin-top: 20px;
}
  
.grid-container {
  grid-template-rows: 1fr;
  background: #ffffff;
  vertical-align: top;
}

.mais_noticias>p, .ultimas_noticias>p, .mySlides>p {
  font-size: 20px;
  margin: 10px 25px;
  font-weight: bold;
}

.trending>p {
  font-size: 20px;
  margin: 10px 0px;
}

.grid-container a {
  text-decoration: none;
  color: black;
}

.grid-container p {
  width: 80%;
  margin: 0px;
  text-align: left;
}

.grid-container img {
  width: 80%;
  text-align: center;
}

@media screen and (max-width: 480px){
  .ultimas_noticias p:first-of-type, .trending p:first-of-type, .trending .number,  .mais_noticias p:first-of-type, .mais_noticias img{
    margin-left: 35px;
  }

  .box{
    width:450px;
    height:148px;
    margin: 2vh 2vh;
  }
  
  .box div p{
    margin: 0px 3vh 0vh 3vh;
  }
  
  .slides-img{
    height: 100%;
    overflow: auto;
  }
  
  .slides-grid #text {
    margin: 0px 3vh 0vh 3vh;
  }
  
  .slides-grid #desenvolvimento {
    font-size: 13px;            
  }

  .grid-slideshow{
    margin: 0 0px;
  }
  
  .slides-grid{
    grid-template-columns: 2fr 4fr;
  }
  
  .slides-img{
    overflow: auto;
  }

  .slides_grid p:first-of-type{
    font-size: 8px;
  }
  
  .slides_grid #text {
    font-size: 18px;
  }

  
  .grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .ultimas_grid{
    margin: 0 35px;
    column-gap: 10px;
  }
  
  .titulos_ultimas p:first-of-type{
    font-size: 10px;
    margin-left: 0px;  
  }

  .titulos_ultimas p{
    line-height: 15px;
    margin-top: 0px;
    margin-bottom: 2px;
  }
  
  .grid_ultimas_noticias{
    row-gap: 4px;
  }
  
  .ultimas-img{
    height: 30px;
    width: 50px;
    overflow: auto;
    align-content: flex-start;
  }

  .texto_grid{
    row-gap: 2px;
  }
  
  .texto_grid p:first-of-type{
    margin-left: 0px;  
    font-size: 8px;
  }
  
  .texto_grid b{
    font-size: 12px;
  }
  
  .trending_articles{
    column-gap: 5px;
    margin-right: 15px;
  }

  .number {
    font-size: 25px;
    font-weight: bold;
  }
    
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 300px;
    font-size: 18px;
    row-gap: 8px;
    margin: 0;
    width: 80%;
  }
  
  hr{
    margin-left: 35px;
    margin-right: 22px;
  }
}

@media screen and (min-width: 480px){
  .ultimas_noticias p:first-of-type, .trending p:first-of-type, .trending .number,  .mais_noticias p:first-of-type, .mais_noticias img{
    margin-left: 35px;
  }

  .box{
    width:500px;
    height:188px;
    margin: 2vh 14vh;
  }
  
  .box div p{
    margin: 0px 4vh 1vh 4vh;
  }
  
  .slides-grid #text {
    margin: 0px 4vh 1vh 4vh;
  }
  
  .slides-grid #desenvolvimento {
    font-size: 14px;            
  }

  .grid-slideshow{
    margin: 0 0px;
  }
  
  .slides-grid{
    grid-template-columns: 2fr 4fr;
  }

  .slides_grid p:first-of-type{
    font-size: 9px;
  }
  
  .slides_grid #text {
    font-size: 18px;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .ultimas_grid{
    margin: 0 35px;
    column-gap: 10px;
  }
  
  .titulos_ultimas p:first-of-type{
    font-size: 10px;
    margin-left: 0px;  
  }

  .titulos_ultimas p{
    line-height: 15px;
    margin-top: 0px;
    margin-bottom: 2px;
  }
  
  .grid_ultimas_noticias{
    row-gap: 12px;
    margin-top: 2px;
  }
  
  .ultimas-img{
    height: 55px;
    width: 120px;
    overflow: auto;
    align-content: flex-start;
  }

  .texto_grid{
    row-gap: 2px;
  }
  
  .texto_grid p:first-of-type{
    margin-left: 0px;  
    font-size: 8px;
  }
  
  .texto_grid b{
    font-size: 14px;
  }
  
  .trending_articles{
    column-gap: 5px;
    margin-right: 15px;
  }

  .number {
    font-size: 25px;
    font-weight: bold;
  }
    
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 300px;
    font-size: 18px;
    row-gap: 8px;
    margin: 0;
    width: 80%;
    column-gap: 0px;
    margin-bottom: 50px;
  }

  hr{
    margin-left: 35px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px){
  .ultimas_noticias p:first-of-type, .trending p:first-of-type, .trending .number,  .mais_noticias p:first-of-type, .mais_noticias img{
    margin-left: 35px;
  }

  .box{
    width:550px;
    height:188px;
    margin: 2vh 18vh;
  }
  
  .box div p{
    margin: 0px 4vh 2vh 4vh;
  }

  .slides-img{
    height: 100%;
    overflow: auto;
  }
  
  
  .slides-grid #text {
    margin: 0px 4vh 2vh 4vh;
  }
  
  .slides-grid #desenvolvimento {
    font-size: 16px;            
  }

  .grid-slideshow{
    margin: 0 0px;
  }
  
  .slides-grid{
    grid-template-columns: 2fr 5fr;
  }

  .slides_grid p:first-of-type{
    font-size: 10px;
  }
  
  .slides_grid #text {
    font-size: 18px;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .ultimas_grid{
    margin: 0 35px;
    column-gap: 10px;
    width: 105%;
  }
  
  .titulos_ultimas p:first-of-type{
    font-size: 14px;
    margin-left: 0px;  
  }

  .titulos_ultimas b{
    font-size: 18px;
  }

  .titulos_ultimas p{
    line-height: 15px;
    margin-top: 0px;
    margin-bottom: 2px;
  }
  
  .grid_ultimas_noticias{
    row-gap: 18px;
    margin-top: 7px;
  }
  
  .ultimas-img{
    height: 64px;
    width: 120px;
    overflow: auto;
    align-content: flex-start;
  }

  .texto_grid{
    row-gap: 2px;
  }
  
  .texto_grid p:first-of-type{
    margin-left: 0px;  
    font-size: 10px;
  }
  
  .texto_grid b{
    font-size: 15px;
  }
  
  .trending_articles{
    column-gap: 5px;
    margin-right: 15px;
  }

  .trending_articles .title{
    font-size: 19px;
  }

  .number {
    font-size: 30px;
    font-weight: bold;
  }
    
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    row-gap: 8px;
    margin: 0;
    width: 85%;
    column-gap: 0px;
    margin-bottom: 70px;
    margin-bottom: 120px;
  }

  hr{
    margin-left: 35px;
    margin-right: 22px;
  }
}

@media screen and (min-width: 992px){
  .ultimas_noticias p:first-of-type, .trending p:first-of-type, .trending .number,  .mais_noticias p:first-of-type, .mais_noticias img{
    margin-left: 50px;
  }

  .box{
    width:600px;
    height:208px;
    margin: 2vh 32vh;
  }
  
  .box div p{
    margin: 0px 5vh 2vh 5vh;
  }

  .slides-img{
    height: 100%;
    overflow: auto;
  }
  
  
  .slides-grid #text {
    margin: 0px 5vh 2vh 5vh;
  }
  
  .slides-grid #desenvolvimento {
    font-size: 16px;            
  }
  
  .slides-grid{
    grid-template-columns: 2fr 6fr;
  }

  
  .slides-img{
    overflow: auto;
  }
  
  .ultimas_grid{
    margin: 0 50px;
    column-gap: 10px;
    width: 100%;
  }
  
  .titulos_ultimas p:first-of-type{
    font-size: 14px;
    margin-left: 0px;  
  }

  .titulos_ultimas b{
    font-size: 24px;
  }

  .titulos_ultimas p{
    line-height: 15px;
    margin-top: 0px;
    margin-bottom: 16px;
  }
  
  .grid_ultimas_noticias{
    row-gap: 39px;
    margin-top: 15px;
  }
  
  .ultimas-img{
    height: 80px;
    width: 170px;
    overflow: auto;
    align-content: flex-start;
  }

  .texto_grid{
    row-gap: 10px;
  }
  
  .texto_grid p:first-of-type{
    margin-left: 0px;  
    font-size: 14px;
  }
  
  .texto_grid b{
    font-size: 20px;
  }
  
  .trending_articles{
    column-gap: 10px;
    margin-right: 15px;
    row-gap: 	10px;
    margin-bottom: 15px;
  }

  .trending_articles .title{
    font-size: 21px;
  }

  .number {
    font-size: 36px;
    font-weight: bold;
  }
    
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 250px;
    font-size: 25px;
    row-gap: 8px;
    margin: 0;
    width: 80%;
  }

  hr{
    margin-left: 50px;
    margin-right: 40px;
  }
}

@media screen and (min-width: 1200px){
  .ultimas_noticias p:first-of-type, .trending p:first-of-type, .trending .number,  .mais_noticias p:first-of-type, .mais_noticias img{
    margin-left: 70px;
  }


  .box{
    width:800px;
    height:200px;
    border-radius:4px;
    box-shadow: 0px 0px 28px rgba(0,0,0,.3);
    margin: 2vh 34vh;
  }
  
  .box div p{
    font-size:14px;
    margin: 0px 6vh 2vh 6vh;
  }
  
  .slides-img{
    height: 100%;
    overflow: auto;
  }
  
  .slides-grid #text {
    margin: 0px 6vh 3vh 6vh;
  }
  
  .slides-grid #desenvolvimento {
    font-size: 16px;            
  }
  
  .slides-grid{
    grid-template-columns: 2fr 6fr;
  }
  
  .grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 38px;
  }

  .ultimas_grid{
    margin: 0 70px;
    column-gap: 10px;
    width: 100%;
  }
  
  .titulos_ultimas p:first-of-type{
    font-size: 12px;
    margin-left: 0px;  
  }

  .titulos_ultimas b{
    font-size: 22px;
  }

  .titulos_ultimas p{
    line-height: 15px;
    margin-top: 0px;
    margin-bottom: 12px;
  }
  
  .grid_ultimas_noticias{
    row-gap: 25px;
    margin-top: 0px;
  }
  
  .ultimas-img{
    height: 50px;
    width: 100px;
    overflow: auto;
    align-content: flex-start;
  }

  .texto_grid{
    row-gap: 14px;
  }
  
  .texto_grid p:first-of-type{
    margin-left: 0px;  
    font-size: 14px;
  }
  
  .texto_grid b{
    font-size: 20px;
  }
  
  .trending_articles{
    column-gap: 10px;
    margin-right: 15px;
    row-gap: 	15px;
  }

  .trending_articles .title{
    font-size: 18px;
  }

  .number {
    font-size: 34px;
    font-weight: bold;
  }
    
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 250px;
    font-size: 25px;
    row-gap: 8px;
    margin: 0;
    width: 80%;
  }
    
  hr{
    margin-left: 70px;
    margin-right: 50px;
  }
}