body {
    margin : 0;
  }
  
  #form {
    background-color: #ffffff;
    border-color: black;
    width: 200px;
    height: 35px;
    border-radius: 20px;
    display:flex;
    flex-direction:row;
    align-items:center;
    margin: 5px;
  }
    
    
  #navbar .flex-container {
    display: flex;
    justify-content: space-between;
    background-color: #a6a6a6;
    align-items: center;
  }
      
  .instagram, .facebook, .mail, .account, .menu{
    display: flex;
  }
  
  .menu2{
    margin-top: 4px;
    margin-right: 5px;
  }
  
  #query {
    all: unset;
    font: 16px;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }
  
  ::placeholder {
    color:black;
    opacity: 0.7; 
  }
  
  .search svg  {
    color: black;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }
  
  .instagram, .facebook, .mail, .search, .account, .menu {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }


  .topnav {
    width: 100%;
    background-color: #808080;
    overflow: auto;
  }
    
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 15%;
  }
    
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
    
  .topnav a.active {
    background-color: #4d4d4d;
    color: white;
  }
    
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0; 
  }
    
  .dropdown a:hover {
    background-color: #ddd;
    color: black;
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 850px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
    
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
    
  .dropdown:hover .dropdown-content {
    display: block;
  }
    
  #main-footer.another-container{
    line-height:normal;
  }
  
  .flex-container {
    background-color: #a6a6a6;
    align-items: center;
    margin: 0px 0px;
  }

  .another-container p {
    display:inline-block;
    text-align: center;
    margin: auto 45px;
    padding:15px;
  }
  
  .another-container a{
    text-decoration: none;
    color: black;
  }

  .container  {
    text-align: center;
  }