/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #323232;
    border: none;
}

input, label {
    display:block;
    width: 100%;
}

input:focus, label:focus {
    outline: none;
}

a {
    color: black;
}

body {
    padding-top: 5vh; /* view height -> 5% do ecrã */
    background-image: url("../img/fundo2.jpg");
    background-size: cover;
}

/* form */
#main-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFF;
    border-radius: 10px;
    padding: 25px;
}

#main-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6 rem; /* adaptada ao elemento root */
}

#register-form{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
}

.half-box{
    flex: 1 1 45%;
    position: relative;
}

.spacing {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: .8rem;  
}

input{
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

#agreement {
    margin-right: 5px;  
}

#agreement, #agreement-label {
    display: inline-block;
    width: auto;
} 

.regBtn {
    margin-top: 30px;
    height: 40px;
    padding: 9px 25px;
    cursor: pointer;
    background-color: #b3b3b3;
    font-size: 14px;
    border-radius: 5px;
    border:none;
    width: 200px;
  }
  
.regBtn:hover{
    background-color: #24262b;
}

.regBtn a{
    text-align: center ;
    text-transform: uppercase ;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#login-container p {
    margin-bottom: 10px;
}

#login-container{
    text-align: center;
}

/* Validações */
.error-validation {
    color: #971414;
    position: absolute;
    top: 57px;
    font-size: .8rem;
}

.template {
    display:none;
}