body {
    margin: 10px 2%;
  }

  #form {
    order: 0;
    justify-self: start;
    background-color: #dbdbdb;
    width: 200px;
    height: 35px;
    border-radius: 20px;
    border: grey;
    display:flex;
    flex-direction:row;
    align-items:center;
  }
  
  .flex-container {
    display: flex;
    align-items: center;
    }
    
  #query, #twitter {
    all: unset;
    font: 16px;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  ::placeholder {
    color:black;
    opacity: 0.7; 
  }

  .search svg  {
    color: #ffff;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

  button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }

  .twitter svg {order:2;
      margin: 5px 50%;}

  .instagram svg {order:3;
      margin: 5px 50%;}
  
  .mail svg {order:3;
      margin: 5px 50%;}

  .facebook svg {order:3;
      margin: 5px 50%;}

  .news h1{
      text-align:center;
        }
  
  .center {
    margin-left: auto;
    margin-right: auto;
  }

  #contactos{text-align:center;}

  #back{text-align:right;}

  #main-footer.flex-container{line-height:normal;}

  .new1{text-align: center;}

  .images{ border-radius: 150px;}